<!doctype html>
<html>
<style>
form
{
    margin: auto;
    width: 35%;
}
.result
{
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
.heading
{
    margin: auto;
}
.button
{
    margin: auto;
}
</style><head>
    <title>Infowars Text Generator</title>
</head>

<div class="heading" align="center">
    <h1>Infowars Text Generator</h1>
</div>

<!--<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Temperature:
        <input name="temperature" type="number" required>
        <br>
        <br> Humidity:
        <input name="humidity" type="number" required>
        <br>
        <br> Windspeed:
        <input name="windspeed" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>-->

<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        Prompt (headline or keyword):
        <input name="prompt" type="text" required>
        <br>
        <!--<input name="model" type="radio" id="word" value="word" required>
        <label for="word">Word-level model</label>
        <br>
        <input name="model" type="radio" id="char" value="char" required>
        <label for="char">Character-level model</label>
        <br>-->
        <input name="epochs" type="radio" id="1" value="1" required>
        <label for="1">1 epoch</label>
        <br>
        <input name="epochs" type="radio" id="5" value="5" required>
        <label for="5">5 epochs</label>
        <br>
        <input name="epochs" type="radio" id="10" value="10" required>
        <label for="10">10 epochs</label>
        <br>
        <input name="epochs" type="radio" id="15" value="15" required>
        <label for="15">15 epochs</label>
        <br>
        <input name="epochs" type="radio" id="20" value="20" required>
        <label for="20">20 epoch</label>
        <br>
        <br>
        LSTM Memory Sequence Length
        <br>
        <input name="seqlen" type="radio" id="25" value="25" required>
        <label for="25">25</label>
        <br>
        <input name="seqlen" type="radio" id="50" value="50" required>
        <label for="50">50</label>
        <br>
        <input name="seqlen" type="radio" id="75" value="75" required>
        <label for="75">75</label>
        <br>
        <input name="seqlen" type="radio" id="100" value="100" required>
        <label for="100">100</label>
        <br>
        Output size (in chars for char model, words for word model):
        <input name="outputsize" type="number" required>
        <br>
        <input type="submit">
    </fieldset>
</form>

<!--<div class="button" align="center">
    <button type="submit" formaction="{{ url_for('main') }}" formmethod="POST">Fluoridate</button>
</div>-->

<br>
<div class="result">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br>
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div></html>